
path {
  stroke: black;
  stroke-width: 2;
  fill: #1367A1;
}

/* roads */

#road-a {
  stroke: darkcyan;
}

#road-b {
  stroke: darkcyan;
}

#road-c {
  stroke: darkcyan;
}

#road-24-25 {
  stroke: darkcyan;
}

#road-d-e {
  stroke: darkcyan;
}

#road-25 {
  stroke: darkcyan;
}

#path4354 {
  stroke: purple;
}

#path4358 {
  stroke: purple;
}

#path4360 {
  stroke: purple;
}

#path4362 {
  stroke: purple;
}

#path4372 {
  stroke: purple;
}

#path4376  {
  stroke: purple;
}

#path4380 {
  stroke: purple;
}

#path4364 {
  stroke: purple;
}


/* gyms */

#indigo-plateau {
  stroke: tomato;
}

#pewter-city {
  stroke: tomato;
}

#mt-silver {
  stroke: tomato;
}

#bills-house {
  stroke: tomato;
}

#cerulean-city {
  stroke: tomato;
}

#lavender-town {
  stroke: tomato;
}

#saffron-city {
  stroke: tomato;
}

#celadon-city {
  stroke: tomato;
}

#vermillion-city {
  stroke: tomato;
}

#fushcia-city  {
  stroke: tomato;
}

#viridian-city {
  stroke: tomato;
}

#pallet-town {
  stroke: tomato;
}

#cinnibar-island {
  stroke: tomato;
}
