body {
  background: #1367A1;
}

p {
  color: #000000;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #FFCB05;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
}

ul.nav, ul.subnav {
  padding: 0;
}

ul.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 100px;
  /*border: 1px solid black;
  background: #FFFFFF;*/
}

ul.subnav {
  /*background: #ffffff;
  opacity: 0.7;*/
  border: 1px solid #8CA487;
  padding: 3px;
}

.subnav li {
  /*border: 1px solid black;
  background: #9DC794;*/
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  width: 80%;
  /*margin: 30px 50px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.70;
  filter: alpha(opacity=50);
  font-family: sans-serif;
  padding: 25px;
}

.welcome p {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 40px;
}

.welcome img {
  display: inline-block;
  margin:0 auto;
}

.class {
  display: block;
  padding-bottom: 2%;
  margin: 0 auto;
  border: 10px solid #aad28c;
  border-radius: 5px;
}

.misty {
  border: 5px dotted #FFCB05;
  float: left;
  margin: 0 0 10px 10px;
}

/*.trainerdescription {
  float: left;
  margin: 0 0 10px 10px;
}*/

.testimonial4 {
  border: 5px dotted #FFCB05;
  width: 5%;
  height: 5%;
}
<<<<<<< HEAD
=======

.brock {
  border: 5px dotted #FFCB05;
  float: left;
  margin: 0 0 10px 10px;
}

.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }

  .thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }

  .preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
  }
>>>>>>> 88ad1733450f44b0b01133021d5bd857b84eed2a
