body {
  width: 98%;
  background: #1367A1;
}

.banner-image {
  width: 100%;
}

p {
  color: #000000;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #FFCB05;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 25px;
}

button {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: #FFCB05;
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 25px;
  border: 1px;
  border-color: black;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  text-decoration: underline;
}

ul.subnav {
  background-color: #1367A1;
  position: absolute;
  padding: 0;
}

ul.nav {
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 100px;
  /*border: 1px solid black;
  background: #FFFFFF;*/
}

ul.subnav {
  /*background: #ffffff;
  opacity: 0.7;*/
  border: 1px solid #8CA487;
  padding: 3px;
}

.subnav li {
  /*border: 1px solid black;
  background: #9DC794;*/
  display: block;
}

.hidden {
  display: none;
}

.wrapper-banner-nav {
  width: 98%;
  margin: auto;
}

.wrapper {
  width: 98%;
  margin: auto;
  /*margin: 30px 50px;*/
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 250px;
  margin-bottom: 100px; */
  background-color: rgba(255,255,255,.7); /* transparancey on bkgrnd d/t 'a' part of color, the decimal value means 70% */
  border: 1px solid black;
  /* opacity: 0.70; */
  /* filter: alpha(opacity=50); */
  font-family: sans-serif;
  /* padding: 25px; */
}

.welcome {
  width: 98%;
  margin: auto;
  font-family: 'Stint Ultra Condensed';
  font-size: 2em;
  text-align: center;
  font-style: italic;
}

.welcome img {
  display: inline-block;
}

.class {
  display: block;
  padding-bottom: 2%;
  margin: 0 auto;
  border: 10px solid #aad28c;
  border-radius: 5px;
}

.misty {
  border: 5px dotted #FFCB05;
  float: left;
  margin: 0 0 10px 10px;
}

.package {
  width: 92%;
  margin: auto;
}

.pokeball-icon {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.disclaimer {
  font-size: .8em;
  text-align: right;
}

/*.trainerdescription {
  float: left;
  margin: 0 0 10px 10px;
}*/

.testimonial4 {
  border: 5px dotted #FFCB05;
  width: 5%;
  height: 5%;
}

/* pokemon image gallery styling */

.brock {
  border: 5px dotted #FFCB05;
  float: left;
  margin: 0 0 10px 10px;
}

.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }

.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 250px;
  }
