.map {
  height: 100px;
}

/* gyms and towns */
.st1 {
  stroke: black;
  stroke-width: 1.6px;
  fill: midnightblue;
}
/* roads */
.st2 {
  stroke: black;
  stroke-width: 1.6px;
  fill: palegoldenrod;
}
/* gyms */
#indigo-plateau:hover {
  fill: yellow;
}
#pewter-city:hover {
  fill: yellow;
}
#mt-silver:hover {
  fill: yellow;
}
#bills-house:hover {
  fill: yellow;
}
#cerulean-city:hover {
  fill: yellow;
}
#lavender-town:hover {
  fill: yellow;
}
#saffron-city:hover {
  fill: yellow;
}
#celadon-city:hover {
  fill: yellow;
}
#vermillion-city:hover {
  fill: yellow;
}
#fushcia-city:hover {
  fill: yellow;
}
#viridian-city:hover {
  fill: yellow;
}
#pallet-town:hover {
  fill: yellow;
}
#cinnibar-island:hover {
  fill: yellow;
}


/* road id's - keeping here to style roads later, if desired */

/*
#road-a {
}
#road-b {
}
#road-c {
}
#road-24-25 {
}
#road-d-e {
}
#road-25 {
}
#path4354 {
}
#path4358 {
}
#path4360 {
}
#path4362 {
}
#path4372 {
}
#path4376  {
}
#path4380 {
}
#path4364 {
}
*/
